body {
    background: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    color: white;
    display: inline;
}

.title {
    display: block;
    background-color: black;
}

.image-on-left, .image-on-right {
    display: flex;
    justify-content: center;
}

.text-box {
    display: block;
    width: 300px;
    text-align: center;
}

.main {
    width: 1000px;
}

img {
    cursor: pointer;
    border: 3px solid;
    border-radius: 10px;
    width: 300px;
}

img:hover {
    background-color: lime;
    opacity: 0.5;
}